@use 'variables' as *;
@use 'mixins' as *;

.advice-container-class {
  color: $greenDarkColor;
  padding: 30px 28px 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 0%;
  bottom: 0%;
  max-width: 387px;

  ul {
    position: relative;

    &::before {
      display: inline-block;
      content: '';
      position: absolute;
      top: -40px;
      bottom: 0;
      right: -15px;
      width: 387px;
      background-color: $primaryWhiteColor;
      transform: rotate(2deg);

      @media screen and (max-width: 910px) {
        width: initial;
        right: -50px;
        left: -50px;
        top: 0;
      }
    }

    li.item {
      display: flex;
      gap: 40px;
      margin-bottom: 30px;

      .title {
        @include primaryTitleFormat;
        font-size: 40px;
        line-height: 104%;
        position: relative;

        @media screen and (max-width: 1385px) {
          font-size: 28px;
        }
      }

      .text {
        @include primaryTextFormat;
        font-size: 20px;
        position: relative;

        @media screen and (max-width: 1385px) {
          font-size: 14px;
        }

        strong {
          @include strongTextFormat;

          @media screen and (max-width: 1385px) {
            font-size: 14px;
          }
        }
      }
      &::before {
        display: inline-block;
        font-family: $greatVibesRegular;
        font-size: 32px;
        position: relative;
      }
      &:nth-of-type(1) {
        &::before {
          content: '(00)';
          opacity: 0;
          visibility: hidden;
        }
      }
      &:nth-of-type(2) {
        &::before {
          content: '(01)';
        }
      }
      &:nth-of-type(3) {
        &::before {
          content: '(02)';
        }
      }
      &:nth-of-type(4) {
        &::before {
          content: '(03)';
        }
      }
      &:nth-of-type(5) {
        &::before {
          content: '(04)';
        }
      }
      &:nth-of-type(6) {
        &::before {
          content: '(05)';
        }
      }

      @media screen and (max-width: 1385px) {
        gap: 10px;
      }
      @media screen and (max-width: 910px) {
        gap: 40px;
        max-width: 70%;
      }
    }
    @media screen and (max-width: 910px) {
      padding-bottom: 40px;
      padding-top: 40px;
    }
  }
  @media screen and (max-width: 1385px) {
    max-width: 260px;
  }
  @media screen and (max-width: 1110px) {
    bottom: 24%;
  }
  @media screen and (max-width: 910px) {
    position: static;
    max-width: initial;
    padding: initial;
  }
}
