@font-face {
  font-family: 'Stolzl Book';
  src: url('./../fonts/stolzl/Stolzl-Book.eot');
  src: url('./../fonts/stolzl/Stolzl-Book.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/stolzl/Stolzl-Book.woff2') format('woff2'),
    url('Stolzl-Book.woff') format('woff'),
    url('./../fonts/stolzl/Stolzl-Book.ttf') format('truetype'),
    url('./../fonts/stolzl/Stolzl-Book.svg#Stolzl-Book') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl Light';
  src: url('./../fonts/stolzl/Stolzl-Light.eot');
  src: url('./../fonts/stolzl/Stolzl-Light.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/stolzl/Stolzl-Light.woff2') format('woff2'),
    url('Stolzl-Light.woff') format('woff'),
    url('./../fonts/stolzl/Stolzl-Light.ttf') format('truetype'),
    url('./../fonts/stolzl/Stolzl-Light.svg#Stolzl-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl Thin';
  src: url('./../fonts/stolzl/Stolzl-Thin.eot');
  src: url('./../fonts/stolzl/Stolzl-Thin.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/stolzl/Stolzl-Thin.woff2') format('woff2'),
    url('Stolzl-Thin.woff') format('woff'),
    url('./../fonts/stolzl/Stolzl-Thin.ttf') format('truetype'),
    url('./../fonts/stolzl/Stolzl-Thin.svg#Stolzl-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl Bold';
  src: url('./../fonts/stolzl/Stolzl-Bold.eot');
  src: url('./../fonts/stolzl/Stolzl-Bold.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/stolzl/Stolzl-Bold.woff2') format('woff2'),
    url('Stolzl-Bold.woff') format('woff'),
    url('./../fonts/stolzl/Stolzl-Bold.ttf') format('truetype'),
    url('./../fonts/stolzl/Stolzl-Bold.svg#Stolzl-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl Regular';
  src: url('./../fonts/stolzl/Stolzl-Regular.eot');
  src: url('./../fonts/stolzl/Stolzl-Regular.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/stolzl/Stolzl-Regular.woff2') format('woff2'),
    url('./../fonts/stolzl/Stolzl-Regular.woff') format('woff'),
    url('./../fonts/stolzl/Stolzl-Regular.ttf') format('truetype'),
    url('./../fonts/stolzl/Stolzl-Regular.svg#Stolzl-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl Medium';
  src: url('./../fonts/stolzl/Stolzl-Medium.eot');
  src: url('./../fonts/stolzl/Stolzl-Medium.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/stolzl/Stolzl-Medium.woff2') format('woff2'),
    url('Stolzl-Medium.woff') format('woff'),
    url('./../fonts/stolzl/Stolzl-Medium.ttf') format('truetype'),
    url('./../fonts/stolzl/Stolzl-Medium.svg#Stolzl-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Great Vibes Regular';
  src: url('./../fonts/great-vibes/GreatVibes-Regular.eot');
  src: url('./../fonts/great-vibes/GreatVibes-Regular.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/great-vibes/GreatVibes-Regular.woff2') format('woff2'),
    url('./../fonts/great-vibes/GreatVibes-Regular.woff') format('woff'),
    url('./../fonts/great-vibes/GreatVibes-Regular.ttf') format('truetype'),
    url('./../fonts/great-vibes/GreatVibes-Regular.svg#GreatVibes-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hira Kaku';
  src: url('./../fonts/hira-kaku/Hiragino-Kaku-Gothic-Std-W8.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('./../fonts/source-code-pro/SourceCodePro-SemiBold.eot');
  src: url('./../fonts/source-code-pro/SourceCodePro-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('./../fonts/source-code-pro/SourceCodePro-SemiBold.woff2') format('woff2'),
    url('./../fonts/source-code-pro/SourceCodePro-SemiBold.woff') format('woff'),
    url('./../fonts/source-code-pro/SourceCodePro-SemiBold.ttf') format('truetype'),
    url('./../fonts/source-code-pro/SourceCodePro-SemiBold.svg#SourceCodePro-SemiBold')
      format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
