@use 'variables' as *;

@mixin before_after($background-image: false, $width, $height: $width) {
  content: '';
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: $width;
  height: $height;
  @if $background-image {
    background-image: url($background-image);
  }
}

@mixin primaryTextFormat {
  color: $greenDarkColor;
  font-family: $stolzlRegular;
  font-size: 32px;
  line-height: 120%;

  @media screen and (max-width: 1385px) {
    font-size: 18px;
  }
}

@mixin primaryTitleFormat {
  color: $greenDarkColor;
  font-family: $stolzlBold;
  line-height: 94%;
  letter-spacing: -0.04em;
  font-size: 48px;
  text-transform: uppercase;

  @media screen and (max-width: 1385px) {
    font-size: 28px;
  }
}
@mixin strongTextFormat {
  font-family: $stolzlBold;

  @media screen and (max-width: 1385px) {
    font-size: 18px;
  }
}

@mixin positionDecorIcon {
  position: absolute;
  z-index: 100;
}

@mixin flex_verticalAlign($position) {
  display: flex;
  align-items: $position;
}
@mixin flex_horizonAlign($position) {
  display: flex;
  justify-content: $position;
}
@mixin flex_AlignBooth($positionX, $positionY: $positionX) {
  display: flex;
  justify-content: $positionX;
  align-items: $positionY;
}

@mixin alignPositionElement {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin numberCardAdventCalendar($number, $fontSize, $color) {
  content: $number;
  position: absolute;
  display: inline-block;
  font-size: $fontSize;
  font-family: $HiraKaku;
  color: $color;
  letter-spacing: -0.04em;
}

@mixin ellipseLabel($color) {
  display: inline-block;
  @include flex_AlignBooth(center);
  border-radius: 50%;
  background-color: #fff6e3;
  color: $color;
  border: 3px solid $color;
  font-size: 54px;
  font-family: $stolzlBold;
  line-height: 92%;
  padding: 32px 28px;
  transform: rotate(-8deg);
  position: absolute;
  letter-spacing: -0.04em;
  z-index: 100;
}

@mixin log-in-btn() {
  font-family: $primaryFontBold;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  background-color: $mainColor;
  border-radius: 6px;
  padding: 10px 26px;
  border: 1px solid transparent;
  transition: 0.6s;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-family: $primaryFontMedium;
  padding: 8px 17px;

  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    stroke: #fff;
    margin-right: 4px;
    transition: 0.6s;
  }
  &:hover {
    border: 1px solid $mainColor;
    background-color: #eee;
    color: $mainColor;

    .icon {
      stroke: $mainColor;
    }
  }
}
@mixin green-btn {
  font-family: $primaryFontBold;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  background-color: $mainColor;
  border-radius: 6px;
  padding: 10px 26px;
  border: 1px solid transparent;
  transition: 0.6s;
}
@mixin green-btn-hover {
  border: 1px solid $mainColor;
  background-color: #eee;
  color: $mainColor;
}
@mixin owl-nav {
  display: block;

  button {
    position: absolute;
    bottom: 171px;
    width: 18px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;

    &:active {
      stroke: $mainColor;
    }
  }
  button.owl-prev {
    background-image: url('../images/icons/arrow-left-slider.svg');
  }
  button.owl-next {
    background-image: url('../images/icons/arrow-right-slider.svg');
  }
}
