@use 'variables' as *;
@use 'mixins' as *;

.picture-container-class {
  position: absolute;
  right: -133px;
  bottom: -4%;

  .picture {
    mix-blend-mode: multiply;
    transform: rotate(10deg);
  }

  @media screen and (max-width: 1385px) {
    right: -63px;
    bottom: -8%;

    .picture {
      width: 423px;
      height: 507px;
    }
  }
  @media screen and (max-width: 1110px) {
    bottom: 18%;
  }
  @media screen and (max-width: 910px) {
    position: relative;
    left: initial;
    right: initial;
    @include flex_horizonAlign(center);
  }
}

// .picture-container {
// position: absolute;
// right: -133px;
// bottom: -4%;

// .picture {
//   mix-blend-mode: multiply;
//   transform: rotate(10deg);
// }

// @media screen and (max-width: 1385px) {
//   right: -63px;
//   bottom: -8%;

//   .picture {
//     width: 423px;
//     height: 507px;
//   }
// }
// @media screen and (max-width: 1110px) {
//   bottom: 18%;
// }
// @media screen and (max-width: 910px) {
//   position: relative;
//   left: initial;
//   right: initial;
//   @include flex_horizonAlign(center);
// }
//   }
