$mainBackgroundColor: #f3e7cd;
$primaryGreenColor: #015f2d;
$greenDarkColor: #003619;
$primaryWhiteColor: #fff6e3;
$redColor: #c70b01;

$stolzlBold: 'Stolzl Bold', 'sans serif';
$stolzlBook: 'Stolzl Book', 'sans serif';
$stolzlLight: 'Stolzl Light', 'sans serif';
$stolzlMedium: 'Stolzl Medium', 'sans serif';
$stolzlRegular: 'Stolzl Regular', 'sans serif';
$stolzlThin: 'Stolzl Thin', 'sans serif';
$greatVibesRegular: 'Great Vibes Regular', 'sans serif';
$HiraKaku: 'Hira Kaku', 'sans serif';
$sourceCodePro: 'Source Code Pro', 'sans serif';
