$mainBackgroundColor: #f3e7cd;
$primaryGreenColor: #015f2d;
$greenDarkColor: #003619;
$primaryDarkColor: #003619;
$primaryWhiteColor: #fff6e3;
$redColor: #c70b01;

$stolzlBold: 'Stolzl Bold', 'sans serif';
$stolzlBook: 'Stolzl Book', 'sans serif';
$stolzlLight: 'Stolzl Light', 'sans serif';
$stolzlMedium: 'Stolzl Medium', 'sans serif';
$stolzlRegular: 'Stolzl Regular', 'sans serif';
$stolzlThin: 'Stolzl Thin', 'sans serif';
$greatVibesRegular: 'Great Vibes Regular', 'sans serif';
$HiraKaku: 'Hira Kaku', 'sans serif';
$sourceCodePro: 'Source Code Pro', 'sans serif';

@mixin before_after($background-image: false, $width, $height: $width) {
  content: '';
  display: inline-block;
  background-position: center;
  background-size: contain;
  width: $width;
  height: $height;
  @if $background-image {
    background-image: url($background-image);
  }
}

@mixin textStyle {
  color: #003619;
  font-family: $stolzlRegular;
  font-size: 32px;
  line-height: 120%;
}
@mixin strongTextStyle {
  color: #003619;
  font-family: $stolzlBold;
  font-size: 32px;
  line-height: 120%;
}

@mixin positionDecorIcon {
  position: absolute;
  z-index: 100;
}

@mixin flex_verticalAlign($position) {
  display: flex;
  align-items: $position;
}
@mixin flex_horizonAlign($position) {
  display: flex;
  justify-content: $position;
}
@mixin flex_AlignBooth($positionX, $positionY: $positionX) {
  display: flex;
  justify-content: $positionX;
  align-items: $positionY;
}

@mixin ellipseLabel($color) {
  display: inline-block;
  @include flex_AlignBooth(center);
  border-radius: 50%;
  background-color: #fff6e3;
  color: $color;
  border: 3px solid $color;
  font-size: 54px;
  font-family: $stolzlBold;
  line-height: 92%;
  padding: 28px;
  transform: rotate(-6deg);
  position: absolute;
  letter-spacing: -0.04em;
}

.about-container-class {
  color: $primaryWhiteColor;
  position: relative;
  align-self: start;
  padding: 90px 28px 20px;

  ul {
    &::before {
      display: inline-block;
      content: '';

      position: absolute;
      top: 0;
      bottom: 0;
      left: -5px;
      width: 530px;
      background-color: $primaryGreenColor;
      transform: rotate(2deg);
    }

    li.item {
      margin-bottom: 30px;

      .title {
        font-size: 48px;
        line-height: 94%;
        letter-spacing: -0.04em;
        font-family: $stolzlBold;
        position: relative;
      }
    }
    li.item {
      display: flex;
      gap: 40px;

      .text {
        min-width: 297px;
        margin-bottom: 30px;
        line-height: 120%;
        font-size: 24px;
        font-family: $stolzlRegular;
        position: relative;

        strong {
          font-family: $stolzlBold;
        }
      }
      &::before {
        display: inline-block;
        font-family: $greatVibesRegular;
        font-size: 32px;
        position: relative;
      }
      &:nth-of-type(1) {
        &::before {
          content: '(00)';
          opacity: 0;
          visibility: hidden;
        }
      }
      &:nth-of-type(2) {
        &::before {
          content: '(01)';
        }
      }
      &:nth-of-type(3) {
        &::before {
          content: '(02)';
        }
      }
      &:nth-of-type(4) {
        &::before {
          content: '(03)';
        }
      }
      &:nth-of-type(5) {
        &::before {
          content: '(04)';
        }
      }
      &:nth-of-type(6) {
        &::before {
          content: '(05)';
        }
      }
    }
  }
}

.advice-container-class {
  color: $greenDarkColor;
  position: relative;
  padding: 30px 28px 10px;

  ul {
    position: relative;

    &::before {
      display: inline-block;
      content: '';
      position: absolute;
      top: -40px;
      bottom: 0;
      right: -5px;
      width: 530px;
      background-color: $primaryWhiteColor;
      transform: rotate(2deg);
    }

    li.item {
      margin-bottom: 30px;

      .title {
        font-size: 40px;
        line-height: 94%;
        letter-spacing: -0.04em;
        font-family: $stolzlBold;
        position: relative;
      }
    }
    li.item {
      display: flex;
      gap: 40px;

      .text {
        margin-bottom: 30px;
        line-height: 120%;
        font-size: 20px;
        font-family: $stolzlRegular;
        min-width: 297px;
        position: relative;

        strong {
          font-family: $stolzlBold;
        }
      }
      &::before {
        display: inline-block;
        font-family: $greatVibesRegular;
        font-size: 32px;
        position: relative;
      }
      &:nth-of-type(1) {
        &::before {
          content: '(00)';
          opacity: 0;
          visibility: hidden;
        }
      }
      &:nth-of-type(2) {
        &::before {
          content: '(01)';
        }
      }
      &:nth-of-type(3) {
        &::before {
          content: '(02)';
        }
      }
      &:nth-of-type(4) {
        &::before {
          content: '(03)';
        }
      }
      &:nth-of-type(5) {
        &::before {
          content: '(04)';
        }
      }
      &:nth-of-type(6) {
        &::before {
          content: '(05)';
        }
      }
    }
  }
}

@mixin log-in-btn() {
  font-family: $primaryFontBold;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  background-color: $mainColor;
  border-radius: 6px;
  padding: 10px 26px;
  border: 1px solid transparent;
  transition: 0.6s;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-family: $primaryFontMedium;
  padding: 8px 17px;

  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    stroke: #fff;
    margin-right: 4px;
    transition: 0.6s;
  }
  &:hover {
    border: 1px solid $mainColor;
    background-color: #eee;
    color: $mainColor;

    .icon {
      stroke: $mainColor;
    }
  }
}
@mixin green-btn {
  font-family: $primaryFontBold;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  background-color: $mainColor;
  border-radius: 6px;
  padding: 10px 26px;
  border: 1px solid transparent;
  transition: 0.6s;
}
@mixin green-btn-hover {
  border: 1px solid $mainColor;
  background-color: #eee;
  color: $mainColor;
}
@mixin owl-nav {
  display: block;

  button {
    position: absolute;
    bottom: 171px;
    width: 18px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;

    &:active {
      stroke: $mainColor;
    }
  }
  button.owl-prev {
    background-image: url('../images/icons/arrow-left-slider.svg');
  }
  button.owl-next {
    background-image: url('../images/icons/arrow-right-slider.svg');
  }
}
