@use 'reset' as *;
@use 'fonts' as *;
@use 'variables' as *;

html,
body {
  background-color: $mainBackgroundColor;
  overflow-x: hidden;
}
.wrapper {
  max-width: 1200px;
  margin: auto;
}

header {
  position: relative;

  margin-bottom: 120px;
  .wrapper {
    max-width: 1089px;

    .title {
      font-size: 276px;
      color: $primaryGreenColor;
      font-family: $HiraKaku;
      line-height: 92%;
      letter-spacing: -0.04em;
      margin-bottom: 10px;

      &::after {
        content: 'IT School';
        @include ellipseLabel($primaryGreenColor);
        top: 215px;
        left: 37%;
      }
    }
    .stories-container {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      li.story {
        max-width: 187px;

        .story-text {
          color: $primaryDarkColor;
          font-family: $stolzlRegular;
          line-height: 110%;
          font-size: 24px;
          position: relative;

          strong {
            font-family: $stolzlBold;
          }
        }
        &:nth-child(1) {
          .story-text {
            &::before {
              @include before_after('../images/decor/img-1.svg', 119px);
              @include positionDecorIcon;
              right: -13px;
              bottom: -75px;
            }
          }
        }
        &:nth-child(2) {
          .story-text {
            text-indent: 40px;
            &::before {
              @include before_after('../images/decor/img-2.svg', 97px, 102px);
              @include positionDecorIcon;
              top: -53px;
              left: -47px;
            }
          }
        }
        &:nth-child(3) {
          .story-text {
            &::before {
              @include before_after('../images/decor/img-3.svg', 96px, 93px);
              @include positionDecorIcon;
              top: 25px;
              right: -27px;
            }
          }
        }
        &:nth-child(4) {
          .story-text {
            &::before {
              @include before_after('../images/decor/img-4.svg', 80px, 87px);
              @include positionDecorIcon;
              bottom: -69px;
              right: -1px;
            }
          }
        }
        &:nth-child(5) {
          .story-text {
            &::before {
              @include before_after('../images/decor/img-5.svg', 130px, 124px);
              @include positionDecorIcon;
              top: -38px;
              right: -107px;
            }
          }
        }
      }
    }
  }
  .release-caption {
    position: absolute;
    top: 85px;
    right: 28px;

    &::after {
      @include before_after('../images/decor/canvas.png', 700px);
      @include positionDecorIcon;
      mix-blend-mode: multiply;
      bottom: -273px;
      right: -227px;
    }

    .date,
    .release {
      color: $primaryGreenColor;
    }
    .date {
      font-family: $greatVibesRegular;
      font-size: 40px;
      line-height: 92%;
    }
    .release {
      font-family: $stolzlBold;
      line-height: 92%;
      letter-spacing: -0.04em;
      font-size: 48px;
    }
  }
  &::before {
    @include before_after('../images/decor/red-snow.svg', 268px);
    @include positionDecorIcon;
    left: 25px;
    top: 193px;
  }
  &::after {
    @include before_after('../images/decor/red-snow.svg', 133px);

    @include positionDecorIcon;
    right: -40px;
    bottom: 0px;
  }
}
main {
  section.cozy-vibe {
    padding: 0 28px;
    position: relative;
    margin-bottom: 300px;

    .left-side {
      width: 55%;

      .upper-content-container {
        margin-bottom: 60px;
        .title {
          color: $primaryGreenColor;
          font-size: 114px;
          font-family: $greatVibesRegular;
          line-height: 92%;
          margin-bottom: 20px;

          strong {
            font-size: 48px;
            font-family: $stolzlBold;
            letter-spacing: -0.04em;
            text-transform: uppercase;
          }
        }
        .text {
          @include textStyle;
          margin-bottom: 20px;

          strong {
            @include strongTextStyle;
          }
          em {
            font-family: $greatVibesRegular;
            font-size: 54px;
          }
        }
      }
      .low-content-container {
        display: flex;
        justify-content: end;
        margin-bottom: 60px;

        .picture {
          mix-blend-mode: multiply;
          position: absolute;
          transform: rotate(15deg);
          left: -122px;
          bottom: 125px;
        }
        .text-container {
          width: 60%;

          .text {
            @include textStyle;
            margin-bottom: 20px;

            strong {
              @include strongTextStyle;
            }
            em {
              font-family: $greatVibesRegular;
              font-size: 45px;
            }
          }
        }
      }
      .title {
        font-size: 48px;
        line-height: 94%;
        letter-spacing: -0.04em;
        color: #003619;
        font-family: $stolzlBold;
      }
    }
    .right-side {
      .picture {
        mix-blend-mode: multiply;
        position: absolute;
        top: -275px;
        right: -408px;
      }
    }
  }
  section.first-history {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    position: relative;

    &::before {
      @include before_after('../images/decor/background-paper.png', 1303px, 894px);
      @include positionDecorIcon;
      mix-blend-mode: multiply;
      left: 15%;
      top: -8%;
    }
    .advice-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      ul {
        li {
          .title {
            position: relative;
            &::before {
              @include before_after('../images/decor/christmas-tree.svg', 219px, 403px);
              @include positionDecorIcon;
              mix-blend-mode: multiply;
              top: -368px;
            }
          }
        }
      }

      .picture-container {
        position: relative;
        left: -80px;

        .picture {
          mix-blend-mode: multiply;
          transform: rotate(-6deg);
        }
        &::after {
          @include before_after('../images/decor/stamp.svg', 177px, 151px);
          @include positionDecorIcon;
          mix-blend-mode: multiply;
          top: 40px;
          right: 0px;
        }
      }
      @extend .advice-container-class;
    }

    .main-content-container {
      .title {
        color: #003619;
        font-family: $stolzlBold;
        line-height: 94%;
        letter-spacing: 0.04em;
        font-size: 48px;
        position: relative;
        margin-bottom: 40px;

        &::before {
          content: 'історія №1';
          text-transform: uppercase;
          @include ellipseLabel($redColor);
          top: -100%;
          left: -6%;
        }
      }
      .qoute {
        line-height: 120%;
        font-size: 32px;
        color: #003619;
        font-family: $sourceCodePro;
        margin-bottom: 40px;
      }
      .text-container {
        padding-left: 20px;
        padding-right: 20px;

        .text {
          font-family: $stolzlRegular;
          color: #003619;
          font-size: 32px;
          line-height: 120%;
          margin-bottom: 40px;

          strong {
            font-family: $stolzlBold;
          }
        }
      }
    }
    .about-container {
      @extend .about-container-class;

      .picture-container {
        .picture {
          mix-blend-mode: multiply;
          transform: rotate(10deg);
          position: absolute;
          left: -162px;
          bottom: -80%;
        }
      }
    }
  }
}
